h1 {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Londrina Outline", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.h1Chamber {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

.h2Chamber {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.bodyChamber {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}
