@media only screen and (min-width: 650px) {
    h1 {
        font-size: 30px;
    }

    section {
        box-shadow: 1px 1px 10px black;
        margin: 1.5rem 0;
    }

    img {
        width: 50%;
    }


    .h1Chamber {
        font-size: 40px;
    }

    .h2Chamber {
        font-size: 40px;
    }

    .h2Site {
        font-size: 25px;
    }

    .firstDiv {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 20px;
    }

    .secondDiv {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }

    .thirdDiv {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
}