* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Rammetto One", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Londrina Outline", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #264264;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

main {
    margin: 1rem 4vw;
}

footer {
    background-color: #264264;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

section {
    border: 1px solid #264264;
    border-radius: 5px;
    overflow: hidden;
    margin: 1rem 0;
}

div p {
    padding: 10px;
}

img {
    padding: 1rem;
}

.h2Site {
    background-color: #264264;
    color: #ffffff;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

.h1Chamber {
    font-family: "Rock Salt", cursive;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    padding-top: 1.5rem;
}

.h2Chamber {
    font-family: "Caveat", cursive;
    font-size: 35px;
    font-weight: 500;
    font-style: normal;
    padding-top: 1.5rem;
}

.bodyChamber {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 2.5rem;
}

.name {
    text-align: center;
}

.typography {
    text-align: center;
}

.color1 {
    background-color: #ffffff;
}

.color2 {
    background-color: #383838;
    color: #ffffff;
}

.color3 {
    background-color: #E1BC4F;
}

.color4 {
    background-color: #871459;
    color: #ffffff;
}

.wireframe {
    text-align: center;
}
