* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #383838;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

h2 {
    font-family: "Caveat", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    max-width: 100%;
}

#menu{
    font-size: 1.5rem;
    border: 0;
    background: none;
    color:#000;
    position: absolute;
    right: 1rem;
    padding-top: 0.5rem;
}

#menu::before{
    content: "☰";
}

#menu.open::before{
    content: "X";
    color: #000000;
}

nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #E1BC4F;
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: none;
    color: #000000;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.open a{
    display: block;
}

nav a:hover {
    border: 2px solid #000;
}

main {
    margin: 1rem 4vw;
}

footer {
    background-color: #383838;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

#logo {
    margin: 2rem;
}


.hero {
    margin-top: 2.7rem;
    text-align: center;
}

.event, .weather, .spot1, .spot2 {
    border: 1px solid #383838;
    margin: 2rem 0;
}

section {
    box-shadow: 1px 1px 10px #000000;
}

section h2 {
   background-color: #383838;
   color: #E1BC4F; 
   display: block;
   text-align: center;
   padding: 0.5rem 0;
}

section p {
    padding: 10px;
}
