* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #383838;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

h2 {
    font-family: "Caveat", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    max-width: 100%;
}

#menu{
    font-size: 1.5rem;
    border: 0;
    background: none;
    color:#000;
    position: absolute;
    right: 1rem;
    padding-top: 0.5rem;
}

#menu::before{
    content: "☰";
}

#menu.open::before{
    content: "X";
    color: #000000;
}

nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #E1BC4F;
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: none;
    color: #000000;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.open a{
    display: block;
}

nav a:hover {
    border: 2px solid #000;
}

main {
    margin: 1rem 4vw;
}

footer {
    background-color: #383838;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

#logo {
    margin: 2rem;
}


.hero {
    margin-top: 2.7rem;
    text-align: center;
}

.hero a {
    padding: 10px;
}

.event, .weather, .spot1, .spot2 {
    border: 1px solid #383838;
    margin: 2rem 0;
}

section, .hero {
    box-shadow: 1px 1px 10px #000000;
}

section h2 {
   background-color: #383838;
   color: #E1BC4F; 
   display: block;
   text-align: center;
   padding: 0.5rem 0;
}

section p {
    padding: 10px;
}

.side1 {
    margin: 2.5rem 0;
    text-align: center;
}

.side1 section {
    margin: 1.5rem 0;
}

.side2 img {
    width: 100%;
    height: auto;
    margin: 0.5rem 0;
}

/*----------- FORM STYLING --------------*/

.form1 fieldset {
    margin: 2rem 0;
    border: 1px solid #383838;
    border-radius: 10px;
    padding: .5rem 2%;
}

.form1 legend {
    border: 1px solid #383838;
    border-radius: 5px;
    background-color:#383838;
    color: #FFF;
    padding: 0 .5rem;
}

.form1 label {
    display: block;
    padding-top: 1rem;
    color: #871459;
    font-size: .9rem;
}

.form1 div {
    padding-top: 1rem;
    color: #000000;
    font-size: .9rem;
}

.form1 input[type="text"],
.form1 input[type="tel"],
.form1 input[type="email"],
.form1 textarea

{
    background-color: #eee;
    display: block;
    border: solid 1px #383838;
    border-radius: 5px;
    padding: .75rem;
    color: #383838;
    width: 100%;
    max-width: 400px;
    box-shadow: 1px 1px 4px #383838;
    appearance: none;
}

.form1 input[type="radio"] {
    margin-right: 6px;
}

.form1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#871459, #590D3B);
    color: #FFFFFF;
    border-radius: 5px;
    padding: .8rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 1px 1px 4px #383838;
}

.form1 input:required {
    border-left: solid 8px #871459;
}

.form1 input:required:valid {
    border-left: solid 8px green;
}

#oTitle:invalid {
    border-bottom: solid 8px #871459;
}

.formTitle {
    color: #383838;
}

/* The adjustments for the Memberships */

.memberships {
    margin-top: 50px;
}

.memberships section {
    margin-top: 30px;
    text-align: center;
}

.cost {
    font-size: 30px;
    color: #871459;
}

/* Thankyu Styling */

.thankUPage {
    text-align: center;
}

.thankUPage p {
    margin-bottom: 2rem;
}

.thankTitle {
    font-size: 45px;
    margin: 2rem;
}