@media only screen and (min-width: 600px) {
    h1{
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
    }

    #logo {
        width: 60px;
    }

    body {
        font-size: 18px;
    }

    #menu {
        display: none;
    }

    nav {
        max-width: 100%;
    }

    nav a{
        display: block;
    }

    nav ul {
        display:flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .hero {
        margin-top: 0;
    }

    .hero img {
        width: 100%;
        max-width: 800px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 35px;
    }

    /* 
    .divOne {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    */

    .divTwo, .divThree {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3%;
    }

    .event, .weather, .spot1, .spot2, .spot3 {
        margin: 2.5rem 0;
    }

    .side1 {
        margin: 0;
    }

    .side2 {
        margin: 1rem 0;
    }

    .side2 img {
        width: 100%;
        height: auto;
    }
}