* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #6F1B60;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

h1, h2, h3 {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 20px;
    padding: 1rem;
}

h3 {
    font-size: 20px;
    padding: 1rem;
}

#profile {
    box-shadow: 1px 1px 10px black;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#menu{
    font-size: 1.5rem;
    border: 0;
    background: none;
    color:#000;
    position: absolute;
    right: 1rem;
    padding-top: 0.5rem;
}

#menu::before{
    content: "☰";
}

#menu.open::before{
    content: "X";
    color: #ffffff;
}
nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #000000;
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: none;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.open a{
    display: block;
}

nav a:hover {
    border: 1px solid #fff;
}

main {
    margin: 1rem 4vw;
}

footer {
    background-color: #6F1B60;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.name {
    font-size: 25px;
    padding: 2rem;
}

.parent section {
    border: 1px solid #6F1B60;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    margin: 1rem 0;
}

.parent h2 {
    background-color: #6F1B60;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

.parent p {
    padding: 10px;
}

.card1 ul {
    list-style-type: none;
    padding: 1rem 0 1rem 1rem;
}

.card1 li {
    margin-bottom: 1.5rem;
}

.card1 a {
    color: #000000;
    text-decoration: none;
}

.card2 {
    text-align: center;
}

.card2 p{
    padding-top: 1.5rem;
}

#darkBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 24px;
    cursor: pointer;
}

.dark-mode {
    background-color: #2A2A2A;
	color: #ffffff;
}

.dark-mode section {
    background-color: #2A2A2A;
    box-shadow: 1px 1px 10px #FFFFFF;
}

.dark-mode a {
    color: #ffffff;
}

