@media only screen and (min-width: 600px) {
    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    #darkBtn {
        width: 36px;
    }

    #menu {
        display: none;
    }

    nav {
        max-width: 100%;
    }

    nav a{
        display: block;
    }

    nav ul {
        display:flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .name {
        font-size: 35px;
    }
    .parent{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .parent section {
        box-shadow: 1px 1px 10px black;
    }

    .dark-mode section {
        box-shadow: 1px 1px 10px #FFFFFF;
    }

}